{
  "presets": [
    ["env", {
      "targets": {
        "node": "5.11.1"
      }
    }]
  ],
  "env": {
    "development": {
      "presets": [
        "babel-preset-power-assert",
        "jsdoc-to-assert"
      ],
    }
  }
}
